body{
    background-color: white;
    
}

#jumbotron-header{
    padding-top: 6rem;
    padding-bottom: 10.5rem;
    border-radius: 0;
    text-align: center;
    color: #fff;
    background-image: url("../images/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

}

header.masthead .masthead-logo {
    margin-top: 2rem;
}

header.masthead .masthead-heading {
    margin-top: 4rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header.masthead .masthead-mouse {
    margin-top: 5rem;
}

.masthead-mouse {
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-40px) ;
    }
    60% {
        transform: translateY(-35px);
    }
}
.page-section {
    padding: 2rem 0;
    margin-top: -10px;
}

.services-section {
    padding: 2rem 0;
    background-image: url("../images/backgrounds/s_image.jpg");
}
.what-section {
    padding: 8rem 0 4rem 0;
}


.what-subheading {
  
    font: 18px;
}

.what-para{
    color:black;
    display: none;
}

.portfolio-item{
    position:relative;

}
.image__img{
    display:block;
    width:100%;
}

.image__overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    color:white;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition:0.25s;
    text-align: left;

}


.image-info{
    border: 4px solid white;
    margin:10px;
    padding:2em;
}

.image__title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
  
}
section#contact {
    background-color: #212529;
    background-image: url("../images/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

section #contactForm .form-control {
    border: 0;
    background: none;
    border: 2px solid #FFFFFF;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

input[type="text"]::placeholder {
    /* Firefox, Chrome, Opera */
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

input[type="email"]::placeholder {
    /* Firefox, Chrome, Opera */
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

textarea::-webkit-input-placeholder {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.submit-btn{
    display: flex;
    justify-content: center;
 }

 
 .social a{
    text-decoration: none;
    font-size:2em;
    padding:1rem;
}
